html {
  padding-top: 110px;
}

body {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg,
    #4f4f4f 0%,
    #1a1a1a 25%,
    #1a1a1a 51%,
    #320000 100%
  );
  background-color: rgb(0, 0, 0);
  -webkit-animation: AnimateBG 10s ease infinite;
  animation: AnimateBG 15s ease infinite;
  font-family: 'Hanken Grotesk', sans-serif;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App {
  height: 100%;
}

.feature {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin-top: 100px;
  z-index: 130;
}

#features-content {
  width: 90%;
  margin: 0 auto;
}

.feature-mirror {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin-top: 100px;
  z-index: 130;
}

#features-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: 'center';
  margin-top: 6rem;
}

.feature-description {
  padding: 2rem;
}

h1 {
  text-shadow: 2px 2px 10px rgb(0, 0, 0, 0.5);
  font-family: 'Hanken Grotesk';
  font-size: 85px;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0px;
  text-decoration: none;
  margin-bottom: 3;
  z-index: 130;
  color: white;
}

h2 {
  font-family: 'Hanken Grotesk';
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 5px rgb(0, 0, 0, 0.4);
  z-index: 0;
}

h3 {
  font-family: inherit;
  font-weight: 50;
  font-size: 1.8rem;
  letter-spacing: 0.1 rem;
  color: #f5f5f5;
  text-decoration: none;
  margin-top: 1px;
  margin-bottom: 2px;
  z-index: 130;
  text-shadow: 1px 1px 5px rgb(0, 0, 0, 0.3);
}

h4 {
  font-family: 'Hanken Grotesk';
  font-weight: 800;
  font-size: 2vw;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
  align-items: center;
  text-align: center;
  z-index: 130;
  text-shadow: 1px 1px 5px rgb(0, 0, 0, 0.4);
}

h5 {
  text-align: center;
  font-family: 'Hanken Grotesk';
  font-size: 24px;
  letter-spacing: 0.1 rem;
  color: white;
  text-decoration: none;
  z-index: 130;
  text-shadow: 1px 1px 5px rgb(0, 0, 0, 0.3);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  font-family: 'Hanken Grotesk';
  font-size: 1.5vw;
  letter-spacing: 0.1rem;
  color: white;
  text-decoration: none;
  margin-top: 3px;
  margin-bottom: 2rem;
  align-content: center;
  text-align: center;
  text-shadow: 1px 1px 5px rgb(0, 0, 0, 0.3);
  font-weight: 100;
}

.orange-text {
  color: #ff5e00;
}

.image {
  width: '800px';
  margin-bottom: 6px;
  margin-right: 8px;
  margin-left: 5px;
  align-items: center;
  justify-content: center;
  z-index: 1301;
  border: 1px;
  border-radius: 2%;
  background-color: black;
  box-shadow: 0px 0px 5px 5px rgb(0, 0, 0, 0.1);
}
.image:hover {
  box-shadow: 0px 0px 17px 17px rgb(255, 62, 0, 0.5);
}

@media only screen and (max-width: 1100px) {
  // h4 {
  //   font-size: 2rem;
  // }

  // h5 {
  //   font-size: 1rem;
  // }

  .feature {
    align-items: center;
    align-content: center;
    margin-bottom: 10;
    margin-top: 0;
    z-index: 130;
    margin-right: 0;
  }

  .image {
    width: 90%;
  }

  #pressimages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: '100%';
    margin-bottom: 15;
  }

  #members {
    z-index: 40000;
    display: flex;
    overflow: auto;
    align-items: center;
    flex-direction: column;
    flex-wrap: 'wrap';
  }

  #MediumArticle {
    width: 70%;
  }

  #ProductHuntArticle {
    width: 70%;
  }

  #MediumArticle:hover {
    cursor: pointer;
  }

  #contributor {
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 720px) {
  #app-bar {
    font-size: 10px;
  }

  #app-bar {
    font-size: 10px;
  }

  #press {
    padding-top: 0;
    margin-top: 0;
  }
}
